
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


body {
    font-family: Orbitron, system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
}

input {
    width: 100%
}

.newedo-logo-svg {
    width: auto;
    height: 70px;
    background-image: url(https://raw.githubusercontent.com/tbolgercode/NewEdoRoll20Sheet/a874b9b0a48a612671ad5ee1423dd7f5070d3059/NewEdoLogo.svg);
    background-size: 100% 100%;
}

.sheetform {

}

.sheet-header {
    height: 72px;
    width: 100%;
}

header, main {
    padding: 5px;
}

header {
    background-color: #f4f4f4;
    text-align: center;
}

header h1 {
    margin: 0;
}



select {
    background-color: #f7f7f7;

}

option {
    background-color: #f7f7f7;
}

.roll-button {
    color: #3a3a3a;
    background: #e2e2e2;
    border: solid 2px rgba(53, 53, 53, 0.836);
    border-radius: 15%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.roll-button:active {
    transform: scale(0.95) !important;
}

.roll-button-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}



section {
    margin-bottom: 10px;
    padding: 5px;
}

.text-center {
    text-align: center;
}

.multi-column {
    display: flex;
    justify-content: space-between;
}

.two-column {
    display: flex;
    justify-content: space-between;
}

.three-column {
    display: flex;
    justify-content: space-between;
}

.four-column {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.equipment-column {
    width: 50%;
}

.equipment {
    padding: 8px;
    padding-top: 0px;
}


.column-3 {
    width: 32%;
}

.column-4 {
    width: 24%;
}

h2 {
    color: #333;
}

.w-100 {
    width: 100%;
}

.sheet-w-100 {
    width: 100%wep;
}

.w-90 {
    width: 90%;
}

.w-88 {
    width: 88%;
}

.w-85 {
    width: 85%;
}

.w-79 {
    width: 79%;
}

.w-75 {
    width: 75%;
}

.w-70 {
    width: 70%;
}

.w-69 {
    width: 69%;
}


.w-64 {
    width: 64%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-49 {
    width: 49%;
}

.w-44 {
    width: 44%;
}

.w-42 {
    width: 42%;
}

.w-40 {
    width: 40%;
}


.w-34 {
    width: 34%;
}
.w-30 {
    width: 30%;
}

.w-29 {
    width: 29%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-19 {
    width: 19%;
}

.w-16 {
    width: 16%;
}

.w-15 {
    width: 15%;
}

.w-14 {
    width: 14%;
}

.w-10 {
    width: 10%;
}

.w-9 {
    width: 9%;
}

.w-7 {
    width: 7%;
}

.w-6 {
    width: 6%;
}

.w-5 {
    width: 5%;
}

.w-4 {
    width: 4%;
}

.w-3 {
    width: 3%;
}

.w-2 {
    width: 2%;
}

.h-98 {
    height: 96% !important;
}

.h-90 {
    height: 90% !important;
}


.w-auto {
    width: auto;
}

.mb-2px {
    margin-bottom: 2px !important;
}

.mr-2px {
    margin-right: 2px !important;
}

.m-0 {
    margin: 0px !important;
}

.mv-0 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.m-1 {
    margin: 1rem !important;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.p-2px {
    padding: 2px;
}

.header-4 {
    font-size: 14px;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    line-height: 18px;
}

.can-hide {
    display:flex;
}

.can-hide-block {
    display:block;
}




.no-select-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    padding: 2px;
    width: auto !important;
}


.border-thin {
    border: solid 1px black;
    border-radius: 1%;
}

.bg-lpink {
    background-color: #31001a46;
}

.bg-grey {
    background-color: #49494946;
}

.bg-purple {
    background-color: #44005846;
}

.bg-brown {
    background-color: #612e1f46;
}

.bg-blue {
    background-color: #00367e46;
}

.bg-green {
    background-color: #004b1346;
}

.bg-red {
    background-color: #3d010146;
}

.bg-black {
    background-color: #0300007c;
}

.bg-cyan {
    background-color: #005e5e52;
}

.bg-orange {
    background-color: #b86e0046;
}

.border-bottom-thin {
    border-bottom: solid 1px black;
}


/* NEW SHIT STARTS HERE */

.sheet-rolltemplate-init,
.sheet-rolltemplate-trait,
.sheet-rolltemplate-trait {
    border: solid 2px #202020;
    background: #34163a;
    text-align: center;
    padding: 1rem;
}

.sheet-rolltemplate-init .inlinerollresult  {
    background-color: #63296e;
    border: 2px solid black;
    color: white;
}

.sheet-rolltemplate-fate,
.sheet-rolltemplate-fate {
    border: solid 2px #202020;
    background: #34163a;
    text-align: center;
    padding: 1rem;
}

.sheet-rolltemplate-fate .inlinerollresult  {
    background-color: #63296e;
    border: 2px solid black;
    color: white;
}

.sheet-rolltemplate-skill,
.sheet-rolltemplate-skill {
    border: solid 2px #202020;
    background: #34163a;
    text-align: center;
    padding: 1rem;
}

.sheet-rolltemplate-skill .inlinerollresult  {
    background-color: #63296e;
    border: 2px solid black;
    color: white;
}

.sheet-rolltemplate-rote,
.sheet-rolltemplate-rote {
    border: solid 2px #202020;
    background: #34163a;
    text-align: center;
    padding: 1rem;
}

.sheet-rolltemplate-rote .inlinerollresult  {
    background-color: #63296e;
    border: 2px solid black;
    color: white;
}

.sheet-rolltemplate-trait .inlinerollresult  {
    background-color: #63296e;
    border: 2px solid black;
    color: white;
}

.sheet-rolltemplate-rote-details {
    color: #eeeeee;
    border: solid 2px #eeeeee;
    background: #2a2249;
    padding: 1rem;
}

.sheet-rolltemplate-background,
.sheet-rolltemplate-background {
    border: solid 2px #202020;
    background: #34163a;
    text-align: center;
    padding: 1rem;
}

.sheet-rolltemplate-wep,
.sheet-rolltemplate-wep {
    border: solid 2px #202020;
    background: #34163a;
    text-align: center;
    padding: 1rem;
}

.sheet-rolltemplate-wep h4 {
    color: white;
}

.sheet-rolltemplate-wep .inlinerollresult  {
    background-color: #63296e;
    border: 2px solid black;
    color: white;
}



.generic-content-column {
    display: grid;
    grid-template-columns: minmax(50px, 1fr);
    grid-template-rows: auto;
}

.main-container{
    padding: 0px;
    display: grid;
    grid-template-columns: minmax(600px, 1fr);
    grid-template-rows: repeat(7);
    max-width: 1920px;
    margin: 0 auto;
}

.character-details-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 10px;
}

.character-name-container {
    display: grid;
    grid-template-columns: minmax(149px, 1fr);
    padding: 2px;
}

.legend-wounds-container {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    gap: 10px;
}

.xp-wounds-container {
    display: grid;
    grid-template-columns: minmax(300px, 1fr);
    gap: 10px;
    padding: 2px;
}

.legend-values-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.legend-section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.soak-wounds-section-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(75px, 1fr));
    gap: 10px;
}

.status-effects-section-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.status-effects-section-container > textarea {
    min-height: 94%;
    max-width: 97.5%;
}

.stats-container {
    display: grid;
    grid-template-columns: minmax(150px, 1fr);
    padding: 2px;
}

.root-stats-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    padding: 2px;
}

.derived-traits-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    padding: 2px;
}

.fate-card-container {
    display: grid;
    gap: 10px;
    padding: 2px;
}

.fate-card-header-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, auto));
    justify-content: space-between;
    grid-template-rows: 80%;
}

.fate-card-contents-container {
    display: grid;
}

.fate-card-fate-line-container {
    display: flex;
    height: auto;
    width: 100%;
}


.hider {
    aspect-ratio: 1 / 1;
}

.hider:checked ~ .can-hide {
    display:none;
}

.hider:checked ~ .can-hide-block {
    display:none;
}

.fate-hider {
    aspect-ratio: 1 / 1;
    grid-area:auto;
}

.fate-hider:checked ~ #fate-card-contents {
    display:none;
}

.hider-holder {
    display: grid;
    justify-content: end;
}

.initiative-roller {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 0px;
}

.conditions-textarea {
    max-width: 97.5%; 
    min-width: 97.5%;
    min-height: 10px;
    height: 100%
}

.lockwidth-fate-textarea {
    max-width: 90%; 
    min-width: 90%;
    min-height: 18px;
}

.fate-button-holder {
    display: flex;
    justify-content: end; /* Centers horizontally */
    align-items: center;
}

.roll-button-grid {
    color: #3a3a3a;
    background: #e2e2e2;
    border: solid 2px rgba(53, 53, 53, 0.836);
    border-radius: 15%;
    font-weight: bolder;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.del-button-grid {
    color: #c7c0c0;
    background: #ce3b3b;
    border: solid 2px rgba(53, 53, 53, 0.836);
    border-radius: 15%;
    font-weight: bolder;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.inlinerollresult {
    background-color: #333;
    color: white;
    border-radius: 5px;
}

